.levels {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

  overflow: hidden auto;
  padding: 20vh 0;

  background: #141414;
  color: white;
}

.levels.hidden {
  display: none;
}

.levels .title {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1rem;
}

.levels .level {
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  
  background: #222;
  color: white;
  border-radius: 1rem;
  
  width: 100%;
  max-width: 600px;
  cursor: pointer;

  border: 2px solid transparent;
  transition: .3s ease;
}

.levels .level.active {
  border-color: #555;
  box-shadow: 0 0 5rem 0 rgba(83, 83, 83, 0.2);
}

.levels .level:hover {
  background: #333;
}

.levels .level .data {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.levels .level .data .title {
  font-size: 1.3rem;
  font-weight: 300;
}

.levels .level .duration {
  font-size: 1rem;
  font-weight: 300;
  opacity: .5;
}

.levels .level .data .percent {
  font-size: 1.5rem;
  font-weight: 500;
  opacity: .5;
}